@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

*{
    font-family: 'Rubik', sans-serif;
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
    cursor:default;
    scroll-behavior: smooth;
}
body.overlayShow{
    height: 100vh;
    overflow: hidden;
}
li ,  button{
    cursor: pointer;
    transition: 0.5s;
}
li:hover , button:hover{
    opacity: 0.8;
}
input:focus , #userMessage:focus{
    outline: none;
}

.LandingPageWrapper{
    background-color:#1AC073;
    width: 100%;
    height: auto;
}

.navbarWrapper {
    display: flex;
    height: 80px;
    justify-content: space-evenly;
    align-items: center;
    color: white;
}

.navbarLeft{
    font-family: fantasy;
    font-size: 32px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -0.012em;
    text-align: left;
}
.navbarList ul{
    display: flex;
    gap: 40px;
}
.navbarList ul li{
    list-style: none;
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -0.012em;
    text-align: left;
}

.navbarRight{
    display: flex;
    gap: 35px;
}
.navbarRight img{
    transition: 0.5s;
}
.navbarRight img:hover{
    cursor: pointer;
    opacity: 0.7;
}
.navbarRight svg {
    color: white;
    font-weight: 900;
    font-size: 30px;
    cursor: pointer;
    display: none;
    position: absolute;
    right: 10px;
    top: 10px;
}

.landingPageContentWrapper{
    display: flex;
    justify-content: space-evenly;
    padding: 150px 0 20px 0;
}

.ContentLeftWrapper{
    flex-basis: 40%;
    color: white;
    display: flex;
    gap: 35px;
    flex-direction: column;
    justify-content: center;
}

.ContentLeftWrapper h4{
    font-size: 70px;
    font-weight: 400;
    line-height: 82px;
    letter-spacing: 0em;
    text-align: left;
}

.ContentLeftWrapper span{
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -0.012em;
    text-align: left;
}
.ContentLeftWrapper .LandingInputWrapper{
    display: flex;
    height: 60px;
    width: 400px;
}

.ContentLeftWrapper .LandingInputWrapper input{
    width: 75%;
    border-radius:10px 0 0 10px;
    border: none;
    outline: none;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -0.012em;
    padding: 19px 22px;
}

.ContentLeftWrapper .LandingInputWrapper button{
    background: #F3BA00;
    width: 25%;
    border-radius:0 10px 10px 0;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -0.012em;
    outline: none;
    border: none;
    cursor: pointer;
}
.ContentRightWrapper{
    flex-basis: 40%;
}
.ContentRightWrapper img{
    width: 100%;
}
.MenuItems{
    background: #F7F8FA;
    width: 100%;
    margin: auto;
}

.MenuItemsCardWrapper {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: auto;
    gap: 2%;
    row-gap: 40px;
    justify-content: space-between;
}

.ItemCardImage img {
    height: 100%;
}

.MenuItems > h4{
    padding: 100px 0 60px 0;
    font-size: 40px;
    width: 80%;
    margin: auto;
    font-weight: 800;
    line-height: 24px;
    letter-spacing: -0.012em;
    text-align: left;
}

.MenuItemCard {
    background: white;
    border-radius: 10px 10px 0 0;
    transition: 0.5s;
}

.ItemCardImage {
    height: 250px;
}

.ItemCardInfo1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
}

.ItemCardDesc {
    width: 90%;
    margin: 15.5px auto;
}

.ItemCardInfo2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ItemCardInfo2 div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    font-size: 12px;
}

span.ItemRating {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #F7F8FA;
    padding: 0 4px;
    border-radius: 5px;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.25);
}

div.ItemCookingTime {
    background: #BEBEBE;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    padding: 0 5px;
}

div.ItemCookingTime span{
    background-color: white;
    border-radius: 5px;
    padding: 0 2px;
}

.ItemCardInfo2 button{
    border: none;
    height: 20px;
    cursor: pointer;
}

.ItemCardInfo2 button img{
    height: 100%;
    border-radius: 5px;
}


.MenuItems h4.menuCaourselTitle{
    text-align: center;
}


.menuCarouselPopular{
    position: relative;
}


.menuCaouselItemWrapper{
    display: flex;
    overflow-x:hidden;
    width: 70%;
    max-width: 931px;
    margin: auto;
    gap: 50px;
    padding: 40px;
}

.menuCarouselPopular > button{
    border: none;
    background: transparent;
    width: 70px;
    height: 70px;
    position: absolute;
    top: 40%;
    background-color: white;
    border: 3px solid #1AC073;
    border-radius: 50%;
    transition: 0.5s;
}
.menuCarouselPopular > button svg{
    color: #1AC073;
    transform:scale(3.5);
    transition: 0.5s;
}
.menuCarouselPopular > button:hover{
    background-color: #1AC073;
    border-color: #1AC073;
}
.menuCarouselPopular > button:hover svg{
    color: white;
}
.menuCarouselPopular > button.disable{
    cursor: not-allowed;
}
.menuCarouselPopular > button.disable svg{
    cursor: not-allowed;
    pointer-events: none;
}
.prevSlide{
    left: 8%;
}
.nextSlide{
    right: 8%;
}
.nextSlide svg{
    padding-left: 1px;
}
.prevSlide svg{
    padding-right: 1px;
}

.menuCaouselItemWrapper .MenuItemCard:hover{
    filter: drop-shadow(0px 6px 20px rgba(0, 0, 0, 0.14));
    cursor: default;
}
.RequestDishCTA{
   text-align: center;
   padding: 80px 0;
}
.RequestDishCTA button{
    height: 50px;
    width: 210px;
    border-radius: 10px;
    border: none;
    background: #1AC073;
    color: white;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: -0.012em;
}

.videoDivWrapper{
    width: 100%;
    
    background: linear-gradient(
        to bottom,
        #FAFAFA 0%,
        #FAFAFA 60%,                                                                 
        #C7EACC 60%,
        #C7EACC 100%
    );
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 80px 0 130px 0;
}
.videoDesc{
    flex-basis: 20%;
    width: 65%;
}
.videoDesc h4{
    width: 70%;
    margin: auto    ;
    font-size: 40px;
    font-weight: 700;
    line-height: 57px;
    letter-spacing: 0.20000000298023224px;
    text-align: center;
    margin-bottom: 10px;
}
.videoDesc span{
    width: 50%;
    display: block;
    margin: auto;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.20000000298023224px;
    text-align: center;

}
.videoContentWrapper{
    position: relative;
    width: 60%;
    height: 400px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.videoContentWrapper img{
    position: absolute;
    width: 100px;
    height: 100px;
    z-index: 1;
}

.videoContentWrapper video{
    height: 100%;
    cursor: pointer;
}

.formSectionWrapper{
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 130px;
    background-color: #F7F8FA;
    gap: 60px;
}

.formInputFieldWrapper{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    gap: 25px;
}
.formInputFieldWrapper .textDetails{
    width: 60%;
}
.formInputFieldWrapper .textDetails h4{
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.012em;
    text-align: left;
}
.formInputFieldWrapper .textDetails span{
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -0.012em;
    text-align: left;
}
.formInputFieldWrapper .inputName{
    display: flex;
    justify-content: space-between;
}
.formInputFieldWrapper .inputName input{
    width: 45%;
    height: 35px;
    padding: 10px;
    border: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -0.012em;
    text-align: left;
    border-radius: 10px;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.25);
    cursor:text;
}

.formInputFieldWrapper #userMessage{
    width: 100%;
    resize: none;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    font-size: 16px;
    border: none;
    padding: 10px;
    box-sizing: border-box;
    cursor:text;
}

.formInputFieldWrapper button{
    width: 30%;
    padding: 20px;
    border: none;
    color: white;
    background-color: #1AC073;
    border-radius: 10px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}

footer{
    background: #1AC073;
    color: white;
    display: flex;
    align-items: center;
    height: 130px;
}
.footerSection{
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 30px;
    border-bottom: 1px solid white;
}
.footerSection .footerLeftWrapper{
    font-family: fantasy;
    font-size: 32px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -0.012em;
    text-align: left;
}
.footerSection .footerList ul{
    display: flex;
    gap: 20px;
}
.footerSection .footerList ul li{
    list-style: none;
}

.footerSocialLinks img{
    cursor: pointer;
}
/* Modal Overlay */

.modalWrapper {
    position: fixed;
    width: 100%;
    height: auto;
    display: none;
    z-index: 2;
}

.modalWrapper.show{
    display: block;
}

.modalOverlay {
    background: rgba(0,0,0,0.35);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center
}

.modalContent {
    background: #F7F8FA;
    width: 93%;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin:auto;
    border-radius: 20px;
    gap: 55px;
    box-sizing: border-box;
}

.modalContent img{
    height: 225px;
}
.modalContent .modalContentInfo{
    text-align: center;

}
.modalContent h4{
    font-size: 40px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -0.012em;
    margin-bottom: 14px;
}

.modalContent span{
    font-size: 24px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -0.012em;
    color:#AAA7A7;

}

.modalContent button{
    background: #1AC073;
    border: none;
    color: white;
    width: 210px;
    padding: 15px 0;
    border-radius: 10px;
}


.requestDish {
    display:flex;
    flex-direction:column;
    width: 80%;
    justify-content: center;
    gap: 37px;
    padding: 5%;
    box-sizing: border-box;
}

.requestDish h4 {
    text-align: center;
}

.modalInputWrapper {
    display: flex;
    flex-direction:column;
    position: relative;
    justify-content: flex-end;
    height: 60px;
}
.modalInputWrapper label{
    position: absolute;
    top: 0;
    left: 4px;
}
.modalInputWrapper input{
    padding: 10px;
    border: none;
    background: #F2F2F2;
    border-radius: 10px;
}
.modalInputWrapper input::placeholder{
    color: #9E9E9E;
}

.requestDish .modalBtnGrp{
    margin:auto;
}
.requestDish .inputContainer{
    padding: 8% 0;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.requestDish .modalBtnGrp button{
    margin: 0 10px;
}

.requestDish .modalBtnGrp #cancelSubmit{
    background-color: white;
    color: #1AC073;
    border: 2px solid #1AC073;
}

.modalContent > div{
    display: none;
}
.modalContent .addToCartWrapper{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 55px;
}
.modalContent > .requestDish.active{
    display: flex;
}

.modalContent > .addToCartWrapper.active{
    display: flex;
}


@media screen and ( max-width:768px){
    .navbarWrapper{
        position: relative;
        justify-content: space-between;
        padding: 0 10px;
        box-sizing: border-box;
        height: 50px;
    }
    .navbarList{
        position: absolute;
        top: 50px;
        left: 0;
        width: 100%;
        background: rgb(0 0 0 / 90%);
        display: none;
    }
    .navbarList ul{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
        padding: 10px;
    }
    .navbarRight{
        gap: 15px;
        padding-right: 40px;
    }
    .navbarRight svg.showMenu{
        display: block;
    }
    .landingPageContentWrapper{
        flex-direction: column-reverse;
        margin: 0;
        padding: 50px 0;
    }
    .LandingImageWrapper{
        width: 80%;
        margin: auto;
    }
    .ContentLeftWrapper{
        width: 90%;
        margin:20px auto;
    }
    .ContentLeftWrapper h4{
        font-size: 50px;
        text-align: center;
        line-height: 60px;
    }
    .ContentLeftWrapper span{
        text-align: center;
        font-size: 14px;
    }

    .ContentLeftWrapper .LandingInputWrapper{
        width: 80%;
        height: 45px;
        margin: auto;
    }

    .MenuItems > h4{
        padding: 40px 0;
        text-align: center;
    }
    .MenuItemsCardWrapper{
        margin: auto;
        justify-content: center;
    }

    .menuCarouselPopular > button{
        width: 40px;
        height: 40px;
    }
    .menuCarouselPopular > button svg{
        transform: scale(1.5);
    }
    .nextSlide{
        right: 5%;
    }
    .nextSlide svg{
        padding-left: 2px;
    }
    .prevSlide{
        left: 5%;
    }
    .prevSlide svg{
        padding-right: 2px;
    }
    .menuCaouselItemWrapper{
        width: 80%;
    }

    .RequestDishCTA{
        padding: 40px 0;
    }
    .videoDivWrapper{
        padding: 50px 0;
        background: linear-gradient(to bottom,#FAFAFA 0%,#FAFAFA 70%,#C7EACC 70%,#C7EACC 100%)
    }
    .videoDesc{
        width: 100%;
    }
    .videoDesc > h4{
        width: 90%;
        font-size: 30px;
        line-height: 40px;
    }
    .videoDesc > span{
        width: 90%;
    }
    .videoContentWrapper{
        width: 80%;
        height: auto;
    }
    .videoContentWrapper button{
        width: 80px;
        height: 80px;
    }
    .videoContentWrapper video{
        width: 100%;
        height: auto;
    }
    .formSectionWrapper{
        padding: 50px 10px;
        flex-direction: column-reverse;
        height: auto;
    }
    .formImageWrapper{
        flex-basis: 40%;
    }
    .formImageWrapper img{
        width: 100%;
    }
    .formInputFieldWrapper{
        width: 90%;
        margin: auto;
    }
    .formInputFieldWrapper .textDetails{
        width: 100%;
    }
    .formInputFieldWrapper .inputName{
        flex-direction: column;
        gap: 20px;
    }
    .formInputFieldWrapper .inputName input{
        width: 100%;
        box-sizing: border-box;
    }
    .formInputFieldWrapper button{
        width: 50%;
        padding: 15px;
        margin: auto;
    }
    .footerSection{
        /* flex-direction: column; */
        padding: 0 10px;
        padding-bottom: 10px;
    }
    .footerList{
        display: none;
    }
    .modalContent{
        min-height: auto;
        padding: 30px;
    }    
    .modalBtnGrp{
        display: flex;
        width: 100%;
    }
    .modalContent img {
        height: 130px;
    }
    .modalContent .addToCartWrapper{
        gap: 30px;
    }
    .modalContent .modalContentInfo{
        width: 90%;
    }
    .modalContent  h4{
        font-size: 30px;
        letter-spacing: -0.032em;
    }
    .modalContent span{
        font-size: 16px;
    }
    .requestDish .modalBtnGrp button{
        padding: 10px;
    }
    
}
@media screen and (max-width:425px){
    .menuCaouselItemWrapper{
        max-width: 277px;
    }
    .ContentLeftWrapper .LandingInputWrapper{
        width: 100%;
    }
}

@media screen and ( max-width:375px){
    .MenuItemCard{
       width: 200px;
    }
    .MenuItemCard .ItemCardImage{
        width: 200px;
        height: auto;
    }
    .MenuItemCard .ItemCardImage img{
        height: auto;
        width: 100%;
    }
    .menuCaouselItemWrapper{
        max-width: 200px;
    }
    
}
@media ( min-width:768px) and (max-width: 1024px){

    .navbarList ul{
        gap: 20px;
    }

    .landingPageContentWrapper{
        padding-top: 50px;
    }

    .ContentLeftWrapper h4{
        font-size: 40px;
        line-height: 40px;
    }
    .ContentLeftWrapper .LandingInputWrapper{
        width: 300px;
        height: 45px;
    }
    .MenuItems > h4{
        padding: 60px 0;
        width: 80%;
        max-width: 604px;
        margin: auto;
    }
    .MenuItemsCardWrapper{
        margin: 0 auto;
        max-width: 604px;
        width: 80%;
    }
    .menuCaouselItemWrapper{
        max-width: 604px;
    }
    .menuCarouselPopular > button{
        width: 50px;
        height: 50px;
    }
    .menuCarouselPopular > button svg{
        transform: scale(2.5);
    }
    .nextSlide{
        right: 4%;
    }
    .nextSlide svg{
        padding-left: 2px;
    }
    .prevSlide{
        left: 4%;
    }
    .prevSlide svg{
        padding-right: 2px;
    }
    .videoDesc{
        width: 100%;
    } 

    .formSectionWrapper{
        padding: 60px;
    }
    .formInputFieldWrapper{
        flex-basis: 40%;
    }
    .formInputFieldWrapper .textDetails{
        width: 100%;
    }
    .formInputFieldWrapper .inputName input{
        width: 100%;
        box-sizing: border-box;
    }
    .formInputFieldWrapper .inputName{
        flex-direction: column;
        gap: 20px;
    }
    .formInputFieldWrapper button{
        width: 40%;
        padding: 15px;
    }
    .formImageWrapper{
        flex-basis: 50%;
    }
    .formImageWrapper img{
        width: 100%;
    }
}

@media screen and ( min-width:1440px){

    .MenuItems .MenuItemsTitle{
        width: 85%;
    }
    .MenuItemsCardWrapper{
        justify-content: space-between;
        margin: auto;
        width: 85%;
    }

}

@media screen and ( min-width:1770px){
    .MenuItems .MenuItemsTitle{
        max-width: 1430px;
    }
    .MenuItemsCardWrapper{
        max-width: 1430px;
    }
}